<div class="image-aboutus-banner">
    <div class="title-container">
     <div class="row text-center">
         <div class="col-md-12 about-hero">
          <h1 class="title lg-text">Our Team</h1>
          <!-- <p class="image-about">At JustMy, Jared & Matthew combined there wide range of expertise to do what they both truly love, connecting and helping the communities around them.</p> -->
        </div>
     </div>
 </div>
</div>

<div class="container team-section paddingTB60">
    <div class="row">
        <div class="site-heading text-center">
            <div class="border"></div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="team-img thumbnail text-md-right">
                <img class="rounded-circle mx-auto d-block" src="../../assets/Jared_portrait-bg-remove.png">
            </div>
        </div>
        <div class="col-md-6">
            <div class="team-content text-center text-md-left">
                <p><span class="name">Jared</span>, a native New Yorker and a graduate with a Bachelor's in Computer Science from SUNY New Paltz, found inspiration in his father's ownership of two local pizzerias after 2 years in Software Development. He melded his industry knowledge with a profound understanding of local businesses. This combination drives his passion for leveraging technology to empower local enterprises, embodying a unique blend of tech-savvy innovation and hometown values.</p>
            </div>
        </div>
    </div>
    <div class="matt row align-items-center">
        <div class="col-md-6 order-md-2">
            <div class="team-img thumbnail text-md-left">
                <img class="rounded-circle mx-auto d-block" src="../../assets/Matt_portrait-bg-remove.png">
            </div>
        </div>
        <div class="col-md-6 order-md-1">
            <div class="team-content text-center text-md-right">
                <p><span class="name">Matthew </span>holds a bachelor's degree in Finance from the University of New Hampshire. While exploring diverse roles in customer service across industries such as restaurants, hotels, valet services, and various small businesses, he discovered a genuine passion for fostering meaningful connections. His extensive experience in financial management, effective communication, and hands-on involvement drives his dedication to cultivating strong relationships within the community he serves.</p>
            </div>
        </div>
    </div>
</div>






<div class="cta-sektion cta-padding35 text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="footer-detail">Need help getting your business online?</h3>
                <a href="tel:+18456087516">
                    <button type="button" class="btn btn-primary site-btn mt-3">Call Now</button>
                </a>
            </div>
        </div>
    </div>
</div>

 