<div id="parallaxBanner" class="image-aboutus-banner">
<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
  
      <!-- Brand/logo -->
      <a class="" href="#"><img class="navbar-logo" src="../assets/twg_logo_nobg.png" alt="logo"></a>
  
      <!-- Hamburger menu button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Collapsible content -->
      <div class="nav-pad collapse navbar-collapse" id="navbarNav">
        <div class="call-btn">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/about-us">Our Team</a>
            </li>
            <!-- Add more menu items as needed -->
          </ul>
  
          <!-- Call button -->
  
          <a href="tel:845-608-7516">
            <button type="button" class="hero-btn btn btn-lg">Call Now</button>
          </a>
        </div>
      </div>

      
    </div>
    
  </nav>
  <h1 class="title lg-text text-center mb-5">Our Team</h1>
</div>

<!-- <div class="image-aboutus-banner">
    <div class="title-container">
     <div class="text-center">
         <div class="col-md-12 about-hero">
          <h1 class="title lg-text">Our Team</h1>
          <p class="image-about">At JustMy, Jared & Matthew combined there wide range of expertise to do what they both truly love, connecting and helping the communities around them.</p> 
        </div>
     </div>
 </div>
</div> -->


<div class="container team-section paddingTB60">
    <div class="row">
        <div class="site-heading text-center">
            <div class="border"></div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="team-img thumbnail text-md-right">
                <img class="rounded-circle mx-auto d-block" src="../../assets/AVIF/Jared_Finn.avif">
            </div>
        </div>
        <div class="col-md-6">
            <div class="team-content text-center text-md-left">
                <p><span class="name">Jared</span>, a native New Yorker and a graduate with a Bachelor's in Computer Science from SUNY New Paltz, found inspiration in his father's ownership of two local pizzerias after 2 years in Software Development. He melded his industry knowledge with a profound understanding of local businesses. This combination drives his passion for leveraging technology to empower local enterprises, embodying a unique blend of tech-savvy innovation and hometown values.</p>
            </div>
        </div>
    </div>
    <div class="matt row align-items-center">
        <div class="col-md-6 order-md-2">
            <div class="team-img thumbnail text-md-left">
                <img class="rounded-circle mx-auto d-block" src="../../assets/AVIF/Matt_portrait-bg-remove.avif">
            </div>
        </div>
        <div class="col-md-6 order-md-1">
            <div class="team-content text-center text-md-right">
                <p><span class="name">Matthew </span>a finance graduate from the University of New Hampshire. Through diverse customer service roles spanning restaurants, hotels, valet services, and small businesses, he discovered a passion for fostering genuine connections. With expertise in finance, sales, and effective communication strategies, Matt is dedicated to building strong relationships within his community.</p>
            </div>
        </div>
    </div>
    <div class="matt row align-items-center mb-5">
        <div class="col-md-6">
            <div class="team-img thumbnail text-md-right">
                <img class="rounded-circle mx-auto d-block" src="../../assets/AVIF/pat-profile.avif">
            </div>
        </div>
        <div class="col-md-6">
            <div class="team-content text-center text-md-left">
                <p><span class="name">Patrick </span>from Tomkins Cove, holds a Bachelor of Science in Computer Science from Pace University, with minors in Mathematics and Cyber Security. Inspired by his family's strong work ethic in the electrical trade, he has channeled these values into a successful software development career. His dedication and industrious nature are reflected in the meticulousness of his work.</p>
            </div>
        </div>
    </div>
    <div class="matt row align-items-center mb-5">
        <div class="col-md-6 order-md-2">
            <div class="team-img thumbnail text-md-right">
                <img class="rounded-circle mx-auto d-block" src="../../assets/AVIF/luke-pic.avif">
            </div>
        </div>
        <div class="col-md-6">
            <div class="team-content text-center text-md-left">
                <p><span class="name">Luke </span>based in New York and holding an educational background in Marketing and a Master's in Business Administration from SUNY New Paltz, is also equipped with certifications across Google Analytics, Ads, Twitter, LinkedIn, and beyond. His proficiency in Marketing, SEO, Google Ads, Content Creation, and other areas is deeply influenced by his family's long-standing governmental history dedicated to services within the community. Luke is driven to assist small and local businesses in navigating and maximizing their digital landscape, ensuring they thrive in an increasingly digital world.</p>
            </div>
        </div>
    </div>
    <div class="matt row align-items-center mb-5">
        <div class="col-md-6">
            <div class="team-img thumbnail text-md-right">
                <img class="rounded-circle mx-auto d-block" src="../../assets/AVIF/Mike.avif">
            </div>
        </div>
        <div class="col-md-6">
            <div class="team-content text-center text-md-left">
                <p><span class="name">Michael, </span>a Business Administration student at Oswego University specializing in financial management, leverages his invaluable sales expertise. Through diverse customer service roles in restaurants and small businesses, he is deeply committed to cultivating robust and enduring professional relationships, thereby enhancing the overall experience for the clients he assists.</p>
            </div>
        </div>
    </div>
    <div class="matt row align-items-center mb-5">
        <div class="col-md-6 order-md-2">
            <div class="team-img thumbnail text-md-right">
                <img class="rounded-circle mx-auto d-block" src="../../assets/AVIF/hunter_portrait.avif">
            </div>
        </div>
        <div class="col-md-6">
            <div class="team-content text-center text-md-left">
                <p><span class="name">Hunter, </span>born and raised in New York, he possesses expertise in marketing and business relationships. He never lets the fear of striking out keep him from playing the game and is proof that well done is better than well said.
                </p>
            </div>
        </div>
    </div>
</div>

<app-call-action></app-call-action>

 