<div id="parallaxBanner" class="video-aboutus-banner">
    <app-navbar></app-navbar>

    <video autoplay muted loop playsinline id="heroVideo">
        <source src="../../assets/hero-video.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
</div>

<div class="team-section">
    <h1 class="text-center mb-5">Meet The Guys</h1>
    <div class="row" *ngFor="let row of teamRows">
        <div class="team-member col-md-6" *ngFor="let member of row; let i = index" 
            (mouseenter)="showDetails(member)" (mouseleave)="hideDetails(member)" 
            [ngClass]="{'reverse-slide': i % 2 !== 0}">
            <div class="image-strip">
                <img [src]="member.image" class="team-image middle-image" alt="Team Member Image">
            </div>
            <div class="team-details" [ngClass]="{'active': member.showDetails}">
                <h1>{{ member.name }}</h1>
                <p class="desc">{{ member.description }}</p>
            </div>
        </div>
    </div>
</div>

<app-call-action></app-call-action>
