<div id="parallaxBanner" class="image-aboutus-banner">

  <div class="container">
    <div class="hero-text text-center">
      <h1 class="title display-5 fw-bold lh-1 mb-3">Elevate Your Business with Our Website, SEO, and Marketing
        Solutions.</h1>
      <p class="blurb lead">Leave the tech services to us while you focus on what you do best - running your business!
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <div class="call-btn">
          <a href="tel:845-608-7516">
            <button class="hero-btn">(845) 596-0635</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>