<!-- <div id="parallaxBanner" class="image-aboutus-banner">

  <div class="container">
    <div class="hero-text text-center">
      <h1 class="title display-5 fw-bold lh-1 mb-3">Elevate Your Business with Our Website, SEO, and Marketing
        Solutions.</h1>
      <p class="blurb lead">Leave the tech services to us while you focus on what you do best - running your business!
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <div class="call-btn">
          <a href="tel:845-608-7516">
            <button class="hero-btn">(845) 596-0635</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div id="parallaxBanner" class="video-aboutus-banner">
  <app-navbar></app-navbar>

  <video autoplay muted loop id="heroVideo">
    <source src="../../assets/hero-video.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>

  <div class="container hero-container">
    <div class="hero-text text-center">
      <h1 class="title display-5 fw-bold lh-1 mb-5">Our Passion Drives Your Business and Saves You Time</h1>
      <p class="blurb lead">Specializing in creating healthy relationships between the people and your business with professional websites.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <div class="call-btn">
          <a [href]="contactLink">
            <button class="hero-btn">(845) 596-0635</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="divider">
    <div class="divider-content">
      <p class="divider-header"></p>
    </div>
  </div>
</div>
