.navbar-logo {
  height: 220px;
  margin-left: 25%;
}

.hero-btn {
  background-color: #b3cee3;
  color: white;
  font-size: 18px;
  margin-left: 15px;
}

.call-btn {
  display: flex;
}


@media screen and (max-width: 992px) {
  .collapse:not(.show) {
    display: none !important;
  }

  .call-btn {
    align-items: center;
    flex-direction: column;
  }


}




@media screen and (max-width: 768px) {
  .hero-text {
    text-align: center;
    margin: auto;

    .title {
      font-size: 48px;
    }
  }



  .navbar-logo {
    margin: 0 !important;
  }


  .hero-btn {
    font-size: 24px;
  }
}

@media screen and (max-width: 460px) {
  .image-aboutus-banner {
    height: 900px;
  }


  .container {
    margin: 0px !important;
  }
}

.navbar-toggler-icon {
  width: 3em;
  height: 3em;
}

.navbar-toggler {
  background-color: white;
  margin-right: 20px;
}




.call-btn {
  margin: auto;
  justify-content: end;
}

.hero-btn {
  background-color: #ffffff;
  color: #b3cee3;
  font-size: 32px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
}


.navbar-logo {
  height: 200px;
  margin-left: 25%;
}

.nav-link {
  font-size: 24px;
  color: white;
}


.hero-btn {
  background-color: #b3cee3;
  color: white;
  font-size: 28px;
  margin-left: 15px;
  height: 55px;
}

.call-btn {
  display: flex;
}


@media screen and (max-width: 992px) {
  .collapse:not(.show) {
    display: none !important;
  }

  .nav-pad {
    background-color: #333333be;
  }

  .nav-btn {
    display: none;
  }

  .call-btn {
    align-items: center;
    flex-direction: column;
  }
}


.container {
  margin-top: 150px;
}


.navbar-nav {
  text-align: center;
}

.navbar {
  margin: 0 !important;
}


.nested-menu {
  display: none;
  padding-left: 20px;
  list-style-type: none;
  max-height: 350px;
  overflow-y: auto;
}

.nested-menu.show {
  display: block;
}

.nav-item .dropdown-toggle::after {
  margin-top: 15px;
  float: right;
  margin-left: 5px;
}
.slide-in-menu {
  position: fixed;
  top: 0;
  right: -340px;
  width: 340px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s;
  z-index: 9999;
  display: flex;
  flex-direction: column; /* Added */
}

.slide-in-menu.active {
  right: 0;
}

.slide-in-menu-content {
  display: flex;
  flex-direction: column; /* Added */
  justify-content: space-between; /* Added */
  padding: 20px;
  padding-top: 60px;
  max-height: 100%;
  overflow-y: auto;
  flex-grow: 1; /* Added */
}

.slide-footer {
  margin-top: auto; /* Added */
  padding: 20px 0; /* Optional: add padding for spacing */
  text-align: center; /* Optional: center align text */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
}

@media (min-width: 992px) {
  .slide-in-menu {
    display: none;
  }
}

@media (max-width: 992px) {
  .nav-link {
    font-size: 36px;
    color: rgb(0, 0, 0);
    text-shadow: none;
    margin-bottom: 20px;
    margin-left: 15px;
  }

  .navbar-nav {
    text-align: left;
  }

  .slide-footer {
    text-shadow: none;
  }
}
