.navbar-logo{
    height: 75px;
}

/* CSS for the navigation bar */
.navbar {
    background-color: #b3cee3; /* Adjust the background color as needed */
    margin: 0;
  }
  
  
  .navbar-nav {
    margin-right: 25px; /* Adjust the spacing of navigation items */
  }
  
  .about-btn {
    margin-right: 20px;
    background-color: white;
    color: #b3cee3;
    border: 1px solid #b3cee3;
  }
  
  .hero-btn {
    background-color: #b3cee3;
    color: white;
    font-size: 18px;
  }
  
  .call-btn {
    margin: auto;
  }
  
  .phone {
    text-decoration: none;
    color: darkgray;
  }
  
  .phone-text {
    font-size: 26px;
  }
  .navbar-toggler{
    display: none;
  }

  
  @media screen and (max-width: 768px) {

    .navbar-toggler{
      display: none;
    }
  
    .phone-text {
      font-size: 16px;
    }
  }

  
  @media screen and (max-width: 426px) {

    .navbar-brand img {
      height: 65px; /* Adjust the height of the logo as needed */
    }

    .navbar-brand {
      margin: auto;
    }

    .navbar-toggler{
      display: block;
    }

    #navbarSupportedContent{
      margin: auto;
    }

    .navbar-nav{
      display: none;
    }
  }

  