.navbar-logo{
    height: 55px;
}

.carousel-container {
    height: 500px; /* Adjust this value to your preferred fixed height */
  }

  .hero-btn{
    background-color: powderblue;
    color: white;
  }
.divider{
    background-color: powderblue;
    height: 125px;
    padding-top: 25px
}

.divider-header{
    text-align: center;
    color: white;
}