.cta-padding35 {
  padding: 35px 0 35px;
  background-color: #b3cee3;
  color: #fff;
}

.site-btn {
  font-size: 22px;
  padding: 13px 30px;
  border-radius: 5px;
  border: 1px solid white;
  min-width: 200px;
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #b3cee3;
  background-color: white;
  transition: all .25s ease-in-out;
  margin: 10px 0px 10px 0px;

}