.divider {
  background-color: #161616;
  padding: 15px;
  border-top: solid #161616;
}

.divider-header {
  text-align: center;
  color: rgb(236, 236, 236);
  font-size: 32px;
  padding: 2%;
}

.card .mobile-img {
  display: none;

}


.gradient-background {
  background: linear-gradient(#b3cee3, white);
}

.form-container{
  background-color: white;
}

@media screen and (max-width: 426px) {

  .sites .card-img-top {
    height: 1024px;
  }

  .sites {
    transition: transform 0.2s;
    position: relative;
    height: 625px !important;
    width: 325px !important;
    margin: 10px;
  }

  .card .desktop-img {
    display: none;
  }

  .card .mobile-img {
    display: block;
  }

  .divider-header {
    font-size: 24px;
  }

}

@media screen and (max-width: 376px) {
  .divider-header {
    font-size: 22px;
  }
}



.site-links {
  font-size: 26px;
}

.link {
  text-decoration: none;
  color: white;
}


.sites {
  transition: transform 0.2s;
  position: relative;

  margin: auto;
  margin-bottom: 60px;
}

.sites:hover {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s;
}

.card:hover .overlay {
  opacity: 1;
}





.work-title {
  margin: auto;
  text-align: center;

  .title {
    font-size: 48px;
  }
}



.title {
  margin: 0;
  padding-top: 80px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}



.container-fluid{
  background-color: #161616;
  color: white;
}


.contact-form-container {
  background: #333333;
}

.project-list {
  padding: 20px;
  border-right: 1px solid #eaeaea;
}

.project {
  padding: 20px;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    background-color: #535353;
    color: #161616;
    transform: scale(1.05);
  }

  .project-header {
    font-size: 1.75rem;
    color: white;

    h3 {
      font-weight: 600;
      margin: 0;
    }
  }
}

.project-details-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.project-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.25rem;
    color: #555;
  }
}

.project-details.active {
  opacity: 1;
  z-index: 1;
  height: auto;
}


.site-display{
  min-height: auto;
}

.projects-container{
  margin: 0 !important;
}

/* Desktop and Tablet */
.desktop-img {
  display: block;
}

.mobile-img {
  display: none;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .desktop-img {
    display: none;
  }

  .mobile-img {
    display: block;
  }

  .site-display{
    min-height: 1000px;
  }

  .project-details {
  
    img {
      max-width: 75%;
      margin-bottom: 10px;
    }
  }
  
}



/* Mobile */
@media screen and (max-width: 468px) {
  .desktop-img {
    display: none;
  }

  .mobile-img {
    display: block;
  }

  .site-display{
    min-height: 600px;
  }

  .project-details {
  
    img {
      max-width: 75%;
      margin-bottom: 10px;
    }
  }
  
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid */
  gap: 20px; /* Spacing between grid items */
  justify-content: center; /* Center the grid content */
}

.project-img {
  width: 100%;
  height: auto;
  display: block;
}



/* Media Queries */
@media (max-width: 768px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
  }
}

@media (max-width: 576px) {
  .project-grid {
    grid-template-columns: repeat(1, 1fr); /* 1 column on extra small screens */
  }
}


.custom-services {
  background-color: #161616; /* Black background */
  padding: 60px 0;
  color: white;
}

.services-title {
  font-size: 36px;
  margin-bottom: 10px;
  color: white;
}

.services-subtitle {
  font-size: 18px;
  margin-bottom: 40px;
  color: white;
}

.services-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service-card {
  background-color: white;
  color: black;
  padding: 20px;
  margin: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  text-align: left;
  flex: 1 1 300px; /* Flex-grow, flex-shrink, and min-width */
  max-width: 350px; /* Control maximum width */
  height: 450px; /* Make the cards taller */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service-card img {
  width: 60px;
  height: auto;
  margin-bottom: 20px;
}

.service-card h3 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
}

.service-card p {
  font-size: 16px;
  flex-grow: 1; /* This makes sure the paragraph takes available space */
  margin-bottom: 20px;
}

.explore-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  align-self: flex-start;
}

.explore-link:hover {
  text-decoration: underline;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .services-title {
      font-size: 28px;
  }
  .service-card h3 {
      font-size: 18px;
  }
  .service-card p {
      font-size: 14px;
  }
  .service-card {
      height: auto; /* Adjust the height for smaller screens */
  }
}

@media (max-width: 576px) {
  .services-title {
      font-size: 24px;
  }
  .service-card img {
      width: 50px;
  }
  .service-card h3 {
      font-size: 16px;
  }
  .service-card p {
      font-size: 14px;
  }
  .service-card {
      height: auto; /* Adjust the height for smaller screens */
  }
}


.row{
  margin: 0 !important;
}