<div class="container col-xxl-8 px-4 ">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="header-carousel col-10 col-sm-8 col-lg-6">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../assets/POS_image.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../assets/Delivery_Image.jpg" class="delivery-image d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../assets/website_image.jpg" class="website-image d-block w-100" alt="...">
            </div>
          </div>
        </div>
      </div>
      <div class="hero-text col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Elevate Your Business with Our Technological Touch.</h1>
        <p class="lead">Leave the tech services to us while you focus on what you do best - running your business!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        </div>
      </div>
    </div>
</div>
  
<div class="divider">
    <div class="divider-content">
        <h2 class="divider-header">Don't let technology stress you out. Focus on your passion, and we'll handle the tech.</h2>
    </div>
</div>
  
  
<div class="work-title col-lg-6">
    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">What we've done...</h1>
</div>
  
<div class="container">
  <div class="card-container horizontal">
      <div class="card">
          <img src="../assets/ld_still.JPG" class="card-img-top" alt="Image 1">
          <div class="overlay">
              <p class="site-links">Click to visit <a class="link" href="https://www.lightingdistributorsllc.com/" target="_blank">lightingdistributorsllc.com</a></p>
          </div>
      </div>
      <div class="card">
          <img src="../assets/uwor.JPG" class="card-img-top" alt="Image 2">
          <div class="overlay">
              <p class="site-links">Click to visit <a class="link" href="https://www.unitedwomenofrockland.com/" target="_blank">unitedwomenofrockland.com</a></p>
          </div>
      </div>
  </div>

  <div class="card-container">
      <div class="card">
          <img src="../assets/fiesta.JPG" class="card-img-top" alt="Image 1">
          <div class="overlay">
              <p class="site-links">Click to visit <a class="link" href="https://www.fiestabowlnj.com/" target="_blank">fiestabowl.com</a></p>
          </div>
      </div>
      <div class="card">
          <img src="../assets/pcr.JPG" class="card-img-top" alt="Image 2">
          <div class="overlay">
              <p class="site-links">Click to visit <a class="link" href="https://pcrdnatesting.com/" target="_blank">pcrdnatesting.com</a></p>
          </div>
      </div>
  </div>
</div>

  
  
  <!-- Inside your Angular component's HTML template (e.g., my-component.component.html) -->
  <div class="container-features">
    <div class="work-title col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Our Services</h1>
    </div>
    <div class="row featurette">
      <div class="col-md-7 m-auto">
        <h2 class="featurette-heading fw-normal lh-1">Website Services. <span class="text-body-secondary">It’ll blow your mind.</span></h2>
        <p class="lead">We specialize in creating and managing websites on platforms like Wix, Squarespace, and Clover.</p>
      </div>
      <div class="col-md-5">
        <img src="../assets/website_image_real.png" alt="Image" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto">
      </div>
    </div>
  
    <hr class="featurette-divider">
  
    <div class="row featurette">
      <div class="col-md-7 order-md-2 m-auto">
        <h2 class="featurette-heading fw-normal lh-1">Online Ordering/Delivery Services. <span class="text-body-secondary">See for yourself.</span></h2>
        <p class="lead">We'll set you up with top delivery platforms, including DoorDash, Grubhub, and Uber Eats, ensuring your customers can enjoy your products with ease.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../assets/ordering_image_real.png" alt="Image" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto">
      </div>
    </div>
  
    <hr class="featurette-divider">
  
    <div class="row featurette">
      <div class="col-md-7 m-auto">
        <h2 class="featurette-heading fw-normal lh-1"> POS System Services. <span class="text-body-secondary">Checkmate.</span></h2>
        <p class="lead">We provide end-to-end support for Point of Sale systems - from ordering and delivery to installation and configuration. We work with Square, Toast, and Clover to streamline your operations.</p>
      </div>
      <div class="col-md-5">
        <img src="../assets/POS_image_real.jpg" alt="Image" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto">
      </div>
    </div>
  
  
  </div>
  
  