<!-- <div class="container col-xxl-8 px-4 ">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="header-carousel col-10 col-sm-8 col-lg-6">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../assets/POS_image.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../assets/Delivery_Image.jpg" class="delivery-image d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../assets/website_image.jpg" class="website-image d-block w-100" alt="...">
            </div>
          </div>
        </div>
      </div>


      <div class="hero-text col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Elevate Your Business with Our Technological Touch.</h1>
        <p class="lead">Leave the tech services to us while you focus on what you do best - running your business!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        </div>
      </div>
    </div>
</div> -->

<div class="image-aboutus-banner">
  <div class="container">
   <div class="hero-text text-center">
    <h1 class="title display-5 fw-bold lh-1 mb-3">Elevate Your Business with Our Technological Touch.</h1>
    <p class="blurb lead">Leave the tech services to us while you focus on what you do best - running your business!</p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <div class="call-btn">
        <button type="button" class="hero-btn btn btn-lg">Call Now</button>
      </div>
    </div>
   </div>
  </div>
</div>


  
<div class="divider">
    <div class="divider-content">
        <p class="divider-header">Don't let technology stress you out. Focus on your passion, and we'll handle the tech.</p>
    </div>
</div>
  
  
<div class="work-title">
  <h1>What We've Done</h1>
</div>

<hr class="featurette-divider work-divider">
  
<div class="container">
  <div class="card-container">
    <!-- Card 1 -->
    <div class="card">
      <img src="../assets/ld_still.JPG" class="card-img-top desktop-img" alt="Image 1">
      <img src="../assets/ld_mobile.png" class="card-img-top mobile-img" alt="Mobile Image 1">
      <div class="overlay">
        <p class="site-links">Click to visit <a class="link" href="https://www.lightingdistributorsllc.com/" target="_blank">lightingdistributorsllc.com</a></p>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="card">
      <img src="../assets/uwor.JPG" class="card-img-top desktop-img" alt="Image 2">
      <img src="../assets/uwor_mobile.png" class="card-img-top mobile-img" alt="Mobile Image 2">
      <div class="overlay">
        <p class="site-links">Click to visit <a class="link" href="https://www.unitedwomenofrockland.com/" target="_blank">unitedwomenofrockland.com</a></p>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="card">
      <img src="../assets/fiesta.JPG" class="card-img-top desktop-img" alt="Image 3">
      <img src="../assets/fiesta_mobile.png" class="card-img-top mobile-img" alt="Mobile Image 3">
      <div class="overlay">
        <p class="site-links">Click to visit <a class="link" href="https://www.fiestabowlnj.com/" target="_blank">fiestabowl.com</a></p>
      </div>
    </div>

    <!-- Card 4 -->
    <div class="card">
      <img src="../assets/pcr.JPG" class="card-img-top desktop-img" alt="Image 4">
      <img src="../assets/pcr_mobile.png" class="card-img-top mobile-img" alt="Mobile Image 4">
      <div class="overlay">
        <p class="site-links">Click to visit <a class="link" href="https://pcrdnatesting.com/" target="_blank">pcrdnatesting.com</a></p>
      </div>
    </div>
  </div>
</div>

  
  
  <!-- Inside your Angular component's HTML template (e.g., my-component.component.html) -->
  <div class="container-features">
    <div class="work-title">
      <h1>Our Services</h1>
    </div>

    <hr class="featurette-divider">
    
    <div class="row featurette">
      <div class="col-md-7 m-auto">
        <h2 class="featurette-heading fw-normal lh-1">Website Services. </h2>
        <p class="lead">We pride ourselves on being your go-to destination for a wide spectrum of web solutions. Whether you're in need of a stunning website, a robust web application, or mobile application, we've got you covered.</p>
      </div>
      <div class="col-md-5">
        <img src="../assets/website_image_real.png" alt="Image" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto">
      </div>
    </div>
  
    <hr class="featurette-divider">
  
    <div class="row featurette">
      <div class="col-md-7 order-md-2 m-auto">
        <h2 class="featurette-heading fw-normal lh-1">Online Ordering/Delivery Services.</h2>
        <p class="lead">Seamlessly connecting you with industry-leading online service platforms such as DoorDash, Grubhub, and Uber Eats. Our commitment is to provide your customers with a refined and convenient experience, ensuring the effortless enjoyment of your products.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../assets/ordering_image_real.png" alt="Image" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto">
      </div>
    </div>
  
    <hr class="featurette-divider">
  
    <div class="row featurette">
      <div class="col-md-7 m-auto">
        <h2 class="featurette-heading fw-normal lh-1">POS System Setup.</h2>
        <p class="lead">From initial ordering to seamless delivery, installation, and configuration, we've got you covered every step of the way. Our expertise extends to platforms such as Square, Toast, and Clover, ensuring a tailored solution for your unique needs.</p>
      </div>
      <div class="col-md-5">
        <img src="../assets/POS_image_real.jpg" alt="Image" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto">
      </div>
    </div>
  
  
  </div>
  
  